

.btn {
    color: #222;
    border-color: #222;
    border-radius: 0;
    padding: 0.5rem 1rem;
    min-width: 70px;
    height: 30px;
    text-transform: uppercase;
    background: transparent;
    padding: 0.375rem 0.75rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
  }
  .btn:hover {
    color: #fff;
    background: #222;
    background: #fff;
    color: #222;
  }
  .btn_white {
    color: #fff;
    border-color: #fff;
    border-radius: 0;
    padding: 0.5rem 1rem;
  }
  .btn_black {
    color: #222;
    border-color: #222;
    border-radius: 0;
    padding: 0.5rem 1rem;
  }
  .btn_black:hover {
    color: #fff;
    background: #222;
  }
  