/* square pulse */
.borderAnimation {
  animation: coloranimation 10s infinite ease-in-out;
  animation-delay: 0s;
}
@keyframes coloranimation {
  0% {
    /* rotate: 0deg; */
    border-left-color: cyan;
  }
  25% {
    /* rotate: 90deg; */
    border-top-color: cyan;
  }
  50% {
    /* rotate: 45deg; */
    border-right-color: cyan;
  }
  75% {
    /* rotate: 270deg; */
    border-bottom-color: cyan;
  }
  80% {
    border-left-color: black;
  }
  100% {
    /* rotate: 0deg; */
    border-left-color: cyan;
  }
}

/* Header CSS should delete soon */
.navbar_sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #2184a7;
  opacity: 0.8;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  opacity: 1;
  z-index: 999;
}
.navbar_sidebar_open {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  align-items: center;
  left: 0;
  transition: 0.5s ease-in-out;
  z-index: 999;
  opacity: 0;
  top: 100%;
}
.navbar_link a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  padding-bottom: 10px;
}
.navbar_link a:before {
  content: "";
  position: absolute;
  background: cyan;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.navbar_link a:hover {
  color: orange;
}
.navbar_links .navbar_link a:hover:before {
  width: 100%;
}

@media (max-width: 1000px) {
  .navbar_links {
    display: none;
  }

  .navbar .navbar_links .navbar_link a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  .navbar .navbar_links .navbar_link a:before {
    background: #222;
    height: 5px;
  }

  .navbar .navbar_links .active .navbar_link {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn .active {
    z-index: 999;
    /* background: url(close.png)no-repeat; */
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}
