/* square pulse */
.borderAnimation {
  animation: coloranimation 10s infinite ease-in-out;
  animation-delay: 0s;
}
@keyframes coloranimation {
  0% {
    /* rotate: 0deg; */
    border-left-color: cyan;
  }
  25% {
    /* rotate: 90deg; */
    border-top-color: cyan;
  }
  50% {
    /* rotate: 45deg; */
    border-right-color: cyan;
  }
  75% {
    /* rotate: 270deg; */
    border-bottom-color: cyan;
  }
  80% {
    border-left-color: black;
  }
  100% {
    /* rotate: 0deg; */
    border-left-color: cyan;
  }
}

/* Header CSS should delete soon */
.navbar_link a {
  position: relative;
  transition: 0.3s ease;
}
.navbar_link a:before {
  content: "";
  position: absolute;
  background: cyan;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.navbar_links .navbar_link a:hover:before {
  width: 100%;
}