@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
/* Google Fonts
1. font-family: 'Great Vibes', cursive;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


3. font-family: 'Fredericka the Great', cursive;
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

4. font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

5. font-family: 'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

6. font-family: 'Merriweather', serif;
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');/* Google Fonts

7. font-family: 'PT Serif', serif;
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

8. font-family: 'Tinos', serif;
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* AmsterdamOne Font from ttf file */
@font-face {
  font-family: "AmsterdamOne";
  src: url("../public/font/AmsterdamOne.ttf");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Tinos', serif;
  /* font-weight: 400; */
  font-size: 16px;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
  /* font-family: AmsterdamOne; */
  cursor: pointer;
}
ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: #187598;
  box-sizing: border-box;
}
