@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Great+Vibes&family=Square+Peg&display=swap");
/* font-family: 'Parisienne', cursive; */
/* @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Amstrdem Font from ttf file */
@font-face {
  font-family: "AmsterdamOne";
  src: url("../public/font/AmsterdamOne.ttf");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  /* background: #164e63; */
}

a {
  color: inherit;
  text-decoration: none;
  /* font-family: AmsterdamOne; */
  cursor: pointer;
}
ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
