.card {
  color: #fff;
  background: #232a34;
  padding: 20px;
  border-bottom: 1px solid black;
  border-style: solid none;
  display: grid;
  z-index: -1;
  width: 100%;
  justify-content: center;
}
.card_row {
  display: grid;
  grid-auto-columns: minmax(auto, 1rf);
  align-items: center;
  grid-template-areas: "col1 col2";
}
.image_first {
  grid-template-areas: "col2 col1";
}
.card_col1 {
  padding: 10px 15px;
  grid-area: col1;
}
.card_text {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}
.card_title {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin: 16px 0px 16px 0px;
  text-transform: capitalize;
}
.card_heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #01bf71;
}
.card_subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: white;
  /* color: ${({darktext})=>(darktext ? '#f7f8fa' : '#010606' )}; */
}
/* square pulse */
.colorAnimation {
  animation: coloranimation 10s infinite ease-in-out;
}

@keyframes coloranimation {
  0% {
    /* rotate: 0deg; */
    border-left-color:cyan;
  }
  25% {
    /* rotate: 90deg; */
    border-top-color:cyan;
  }
  50% {
    /* rotate: 180deg; */
    border-right-color:cyan;
  }
  75% {
    /* rotate: 270deg; */
    border-bottom-color:cyan;
  }
  80% {
    border-left: 15px solid black;
  }
  100% {
    /* rotate: 360deg; */
    border-left: 15px solid cyan;
  }
}

.card_button {
  display: flex;
  justify-content: flex-start;
}
.card_col2 {
  padding: 15px;
  grid-area: col2;
}
.image_box {
  max-width: 600px;
  height: 50%;
}
.image_iframe {
  width: 100%;
  margin: 0 0 10px 0;
  padding-right: 0;
}
.iFrame {
  width: 600px;
  height: 320px;
}
.homeCard_image {
  display: none;
}
.homeCardLinks a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
  color: #bdbcbc;
  background: linear-gradient(45deg, #01bf71, #01bf71);
  background-position: center bottom;
  background-size: 0% 5px;
  background-repeat: no-repeat;
  padding: 5px;
  transition: background-size 300ms ease-in-out;
}
.homeCardLinks a:hover {
  background-size: 100% 4px;
}
.homeCardLinks2 {
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 20px;
  border: 3px solid #1fe8b6;
  position: relative;
  font-weight: 700;
}
.homeCardLinks2::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  border: inherit;
  border: 3px solid #1fe8b6;
  transition: all 0.5s;
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}
.homeCardLinks2::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  /* border: inherit; */
  transition: all 0.5s;
  border: 3px solid #1fe8b6;
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}
@media screen and (max-width: 1000px) {
  .iFrame {
    display: none;
  }
  .homeCard_image {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .h-card {
    padding: 100px 0;
  }
  .card {
    justify-content: normal;
  }
  .card_row {
    display: flex;
    flex-direction: column;
  }
  .card_heading {
    font-size: 32px;
  }
}
